<div class="program">

  <div class="container">

    <div class="days">
      <ul>
        <li class="btn btn-transparent" *ngFor="let day of days" [class.selected]="day === selectedDay" (click)="selectDay(day)">
          {{ day.name }}
        </li>
      </ul>
    </div>
    
    <div class="day-info" *ngIf="selectedDay">

      <div *ngFor="let event of selectedDay.events">
        <h4 *ngIf="event.type === 'workshops'">Εργαστήρια - {{ selectedDay.name }}</h4>
        <h4 *ngIf="event.type === 'concerts'">Συναυλίες - {{ selectedDay.name }}</h4>
        <ul>
          <li *ngFor="let item of event.items">
            {{ item.time }}: {{ item.description }}
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>