.program > .container {
  max-width: var(--max-w-full);
  margin: 1.5rem auto;
  padding: 0 24px;
}

.program .days ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.program .days {
  margin: 1.5rem 0;
}

.program .days .btn.selected {
  background-color: rgba(var(--color-dark), 1);
  color: rgba(var(--color-light), 1);
}

.program .day-info ul {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}
