.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(var(--color-dark), 0.85);
}

.site-footer > .container {
  max-width: var(--max-w-full);
  margin: 0 auto;
  padding: 24px;
}