.marquee3k-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.marquee3k {
    overflow: hidden;
    background-color: rgba(var(--color-light), 1);
    padding: 0.75rem 0 0.5rem;
}

.marquee3k__copy {
    padding-right: 30px;
    box-sizing: border-box;
}

.test {
    width: 1200px;
    max-width: unset;
    height: auto;
    
}