.artists > .container {
  max-width: var(--max-w-full);
  margin: 1.5rem auto;
  padding: 0 24px;
}

.artists .title {
  font-size: var(--font-2xl);
  margin-bottom: 1.5rem;
}

.artists ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.artists .artist .description {
  margin-left: 1.5rem;
}

.artists .artist a {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}
