.info > .container {
  max-width: var(--max-w-full);
  margin: 1.5rem auto;
  padding: 0 24px;
}

.info .title {
  font-size: var(--font-2xl);
  margin-bottom: 1.5rem;
}

.info p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.info a {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}
