<div *ngIf="!isLoading; else loadingTemplate">
  <div class="info">
    <div class="container">
      <div class="title">Πληροφορίες & Εισιτήρια</div>

      <p>Είσοδος:<br>
        Συναυλία 06/09 & εργαστήρια δωρεάν<br>
        Συναυλίες 05/09 & 07/09 12€ & 9€ (μειωμένο) για 1 ημέρα, 20€ & 15€ (μειωμένο) για 2 ημέρες</p>

      <p><a href="https://www.fraternalairpro.com/tickets" target="_blank" rel="noopener noreferrer">Αγορά
          εισιτηρίων</a>
      </p>

      <p>Διοργάνωση: FAir Productions, Περιφέρεια Κρήτης & Δήμος Χανίων - ΚΕΠΕΔΗΧ-ΚΑΜ<br>
        Μία παραγωγή της FAir Productions: <a href="https://www.fraternalairpro.com/" target="_blank"
          rel="noopener noreferrer">fraternalairpro.com</a><br>
        Οργάνωση παραγωγής: Σοφία Μαυρουδή<br>
        Design & code: <a href="https://monoscopic.net" target="_blank" rel="noopener noreferrer">monoscopic.net</a></p>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="loading">
    Loading...
  </div>
</ng-template>