<div *ngIf="!isLoading; else loadingTemplate">
  <div class="contact">
    <div class="container">
      <div class="title">Επικοινωνία</div>

      <p>Email:<br>
        <a href="mailto:fraternalairpro@gmail.com">fraternalairpro@gmail.com</a>
      </p>

      <p>Τηλ:<br>
        <a href="tel:+306972848636">+306972848636</a>
      </p>

      <p>Social networks:<br>
        <a href="https://www.facebook.com/profile.php?id=61550261069322" target="_blank"
          rel="noopener noreferrer">Facebook</a><br>
        <a href="https://www.instagram.com/chaniamusicfestival" target="_blank" rel="noopener noreferrer">Instagram</a>
      </p>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="loading">
    Loading...
  </div>
</ng-template>